{% extends "base.twig" %}

{% block meta %}
    <!-- Métadonnées du DublinCore -->
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    {% if  exifInfo.data[0].Title %}
    <meta name="DC.title" content="{{ exifInfo.data[0].Title }}"/>
    {% endif %}
    {% if  exifInfo.data[0].Creator %}
    <meta name="DC.creator" content="{{ exifInfo.data[0].Creator }}"/>
    {% endif %}
    {% if  exifInfo.data[0].Subject %}
    <meta name="DC.subject" content="{{ exifInfo.data[0].Subject }}"/>
    {% endif %}
    {% if  exifInfo.data[0].Description %}
    <meta name="DC.description" content="{{ exifInfo.data[0].Description }}"/>
    {% endif %}
    {% if  exifInfo.data[0].DateCreated %}
    <meta name="DC.date" content="{{ exifInfo.data[0].DateCreated }}"/>
    {% endif %}
    <meta name="DC.Type" content="StillImage"/>
    {% if  exifInfo.data[0].Rights %}
    <meta name="DC.rights" content="{{ exifInfo.data[0].Rights }}"/>
    {% endif %}
    <!-- Métadonnées Facebook -->
    {% if  exifInfo.data[0].Title %}
    <meta property="og:title" content="{{ exifInfo.data[0].Title }}"/>
    {% endif %}
    <meta property="og:type" content="image"/>
    <meta property="og:url" content="{{ request_uri }}"/>
    {% if  exifInfo.data[0].SourceFile %}
    <meta property="og:image" content="{{ app_url ~ exifInfo.data[0].SourceFile }}"/>
    {% endif %}
    {% if  exifInfo.data[0].Description %}
    <meta property="og:description" content="{{ exifInfo.data[0].Description }}"/>
    {% endif %}
    <meta property="og:site_name" content="Meta Data Js" />
    <meta property="og:image" content="{{ app_url ~ exifInfo.data[0].SourceFile }}" />
    <meta property="og:image:type" content="" />
    {% if  exifInfo.data[0].ExifImageWidth %}
    <meta property="og:image:width" content="{{ exifInfo.data[0].ExifImageWidth }}" />
    {% endif %}
    {% if  exifInfo.data[0].ExifImageHeight %}
    <meta property="og:image:height" content="{{ exifInfo.data[0].ExifImageHeight }}" />
    {% endif %}
    {% if  exifInfo.data[0].Description %}
    <meta property="og:image:alt" content="{{ exifInfo.data[0].Description }}" />
    {% endif %}
    <!-- Métadonnées Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content=""/>
    {% if  exifInfo.data[0].Creator %}
    <meta name="twitter:creator"  content="{{ exifInfo.data[0].Creator }}"/>
    {% endif %}
    {% if  exifInfo.data[0].Title %}
    <meta name="twitter:title" content="{{ exifInfo.data[0].Title }}"/>
    {% endif %}
    {% if  exifInfo.data[0].Description %}
    <meta name="twitter:description" content="{{ exifInfo.data[0].Description }}" />
    {% endif %}
    <meta name="twitter:image" content="{{ app_url ~ exifInfo.data[0].SourceFile }}">

{% endblock %}

{% block title %}Détails d'une image{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/public/css/pages/error.css" type="text/css">
{% endblock %}

{% block body %}

    <div class="fixed-spread bg-orange">
        <h1>modal</h1>


    </div>

    <main>
        {% if exifInfo.error %}
            {# ERROR CASE #}
            <section id="errorContainer" class="overlay">
                <div class="absolute-row-middle align-center color-yang">
                    <h1 class="margin-0-top txt-size-giant">
                        <span>Oups</span>
                        <span class="color-amethyst">!</span>
                    </h1>
                    <h3 class="txt-unset">
                        Il semble que l'image recherchée n'existe pas !
                    </h3>
                </div>
            </section>
        {% else %}
            {# SUCCESS CASE #}
            <div class="row-column-reverse-xl flex-y-center">
                <div class="cell-5 bg-yang padding-30-s anim-fall">
                    <div>
                        <a href="/" title="Retour à l'accueil"
                           class="color-amethyst txt-size-big  border-bottom border-transparent hover-border-bottom transition-2">
                            <span>&#8592;</span>
                        </a>
                    </div>
                    <div class="padding-50">
                        <h2 class="margin-0-top txt-unset color-amethyst txt-size-big align-center-s">
                            {{ exifInfo.data[0].Title ?: "* Titre *" }}
                        </h2>
                        <p class="txt-i margin-50-top">
                            {{ exifInfo.data[0].Description ?: "* Description *" }}
                        </p>
                        <ul class="list-unstyled align-center-xs">
                            <li class="padding">
                                <a download="{{ exifInfo.data[0].basename|replace({' ': '_'}) }}"
                                   href="/{{ exifInfo.data[0].SourceFile }}"
                                   class="inline-block color-peter-river hover-color-turquoise"
                                   title="Téléchargez l'image">
                                    <img class="responsive-img hide-xs" src="../public/icons/image.png"
                                         alt="Icon Téléchargement"/>
                                    <span class="margin-15-left margin-0-xs">Télécharger l'image</span>
                                </a>
                            </li>
                            <li class="padding">
                                <a download="{{ exifInfo.data[0].basename|replace({' ': '_'}) }}.xmp"
                                   href="/public/images/{{ exifInfo.data[0].jsonPath|split(".")[0] }}.xmp"
                                   class="inline-block color-peter-river hover-color-turquoise"
                                   title="Téléchargez le fichier sidecar XMP">
                                    <img class="responsive-img hide-xs" src="../public/icons/file.png"
                                         alt="Icon Téléchargement"/>
                                    <span class="margin-15-left margin-0-xs">Télécharger le fichier sidecar XMP</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cell-7 align-center anim-backward">
                    <figure class="margin-50-top-l">
                        <img class="responsive-img"
                             src="/{{ exifInfo.data[0].SourceFile }}"
                             alt=" {{ exifInfo.data[0].Title ?: "* Titre *" }}"/>
                    </figure>
                </div>
            </div>

            <div class="row border-top border-silver">
                <div class="cell-12-margin-0 padding-50 padding-30-s anim-climb bg-clouds">
                    <h2 class="margin-0-top margin-50-bottom txt-capitalize align-center">métadonnées</h2>
                    <ul class="list-unstyled txt-over-breakline">
                        {% for metadataKey, metadataValue in exifInfo.data[0] %}
                            <li class="padding">
                                <span class="txt-b">{{ metadataKey }}</span>
                                <span>: {{ metadataValue }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}