{% extends "base.twig" %}

{% block title %}Accueil{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/public/css/columns-masonry.css">
{% endblock %}

{% block body %}

    <main class="anim-fall overlay bg-clouds">

        <ul class="columns-masonry">

            {# @@@ FOR EACH IMAGES  => do this #}

            {% for image in exifsInfo %}
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
                <li class="overlay">
                    <a href="/detail/" title="Détails de l'image" class="block">
                        <img src="{{ image.data[0].SourceFile }}"
                             alt="{{ image.data[0].Title ?: '* Titre *' }}"/>
                        <div class="absolute-spread bg-yang-opac-9 padding">
                            <h3 class="margin-0 color-amethyst">{{ image.data[0].Title ?: '* Titre *' }}</h3>
                            <p class="truncate-4 truncate-2-xl truncate-3-l truncate-2-m truncate-7-s truncate-3-xs txt-i margin-30-top-bottom">
                                {{ image.data[0].Description ?: '* Description *' }}</p>
                            <span class="color-wet-asphalt txt-b">{{ image.data[0].Creator ?: '* Auteur *' }}</span>
                        </div>
                    </a>
                </li>
            {% endfor %}

            {# @@@ END FOR EACH #}


        </ul>
    </main>
{% endblock %}