{% extends "base.twig" %}

{% block title %}Mettre à jour les métadonnées{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/public/css/pages/error.css" type="text/css">
{% endblock %}

{% block body %}
    <main>

        {% if error is defined %}
            {# ERROR CASE #}
            <section id="errorContainer" class="overlay">
                <div class="absolute-row-middle align-center color-yang">
                    <h1 class="margin-0-top txt-size-giant">
                        <span>Oups</span>
                        <span class="color-amethyst">!</span>
                    </h1>
                    <h3 class="txt-unset">
                        Une erreur est survenue lors de la récupération des métadonnées de l'image...
                    </h3>
                </div>
            </section>
        {% else %}
            {# SUCCESS CASE #}
            <div class="row padding-50 align-center border-bottom border-silver">
                <div class="cell-12 anim-fall">
                    <h1 class="margin-0 txt-size-big txt-unset">
                        <span class="color-amethyst">&#10022;</span>
                        <span>Édition des métadonnées</span>
                    </h1>
                </div>
            </div>
            <section class="overlay anim-climb container margin-auto margin-50-top-bottom">
                <div class="row flex-x-center">
                    <div class="cell-6 c-12-s">
                        <figure>
                            <img class="responsive-img" src="{{ exifInfo.data[0].SourceFile }}" alt="Image uplodée"/>
                        </figure>
                    </div>
                </div>

                <div class="row">
                    <div class="cell-12">
                        <form action="/save-metadata" method="post" class="styled-form flex-form container-tiny margin-auto">
                            <!-- submit -->
                            <div class="actions-box margin-50-top-bottom">
                                <input class="cursor-pointer bg-amethyst width-100 color-yang border-none hover-bg-wisteria"
                                       type="submit"
                                       value="Valider" id="submit"/>
                            </div>
                            {% if exifInfo.data[0].Title is not defined %}
                            <div class="field-box">
                                <label for="title">Title</label>
                                <input type="text" name="metadata[Title]" id="title" required="required"/>
                            </div>
                            {% endif %}
                            {% if exifInfo.data[0].Creator is not defined %}
                            <div class="field-box">
                                <label for="creator">Creator</label>
                                <input type="text" name="metadata[Creator]" id="creator" required="required"/>
                            </div>
                            {% endif %}
                            {% if exifInfo.data[0].Description is not defined %}
                            <div class="field-box">
                                <label for="description">Description</label>
                                <input type="text" name="metadata[Description]" id="title" required="required"/>
                            </div>
                            {% endif %}
                            {% for metadataTag, metadataValue in exifInfo.data[0] %}
                                <div class="field-box">
                                    {% if  metadataTag == 'SourceFile'%}
                                        <input type="hidden" name="metadata[{{ metadataTag }}]" id="{{ metadataTag }}"
                                               value="{{ metadataValue }}"/>
                                    {% else %}
                                        <label for="{{ metadataTag }}">{{ metadataTag }}</label>
                                        <input type="text" name="metadata[{{ metadataTag }}]" id="{{ metadataTag }}"
                                               value="{{ metadataValue }}"/>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}